* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
::selection {
    background-color: #3FC1C9;
    color: #000;
}
.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #3FC1C9 !important;
}
.header {
    background-color: #000;
    padding: 50px;
}
.container_header {
    margin: 50px;
    color: #fff;
    min-height: 400px;
}
.container_main {
    margin: 30px;
    color: #000 !important;
    min-height: 600px;
}
.row_tec p {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.row_tec svg {
    margin-bottom: 5px;
}
.row_tec .col:hover {
    background-color: #2f3d4a !important;
    cursor: pointer;
    box-shadow: 10px 5px 5px #3FC1C9;
}
.rede_social a:hover {
    background-color: #3FC1C9;
    border: #3FC1C9;
}
.foto_perfil {
    height: auto;
    max-width: 100%;
}