:root {
    --preto: #160d18;
    --verde-claro: #1ca39e;
    --verde-escuro: #026f6e;
    --azul-esverdeado: #09456c;
    --azul: #23145b;
    --branco: #ffffff;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
::selection {
    background-color: var(--verde-claro);
    color: var(--preto);
}
.nav-link {
    color: var(--branco) !important;
}

.nav-link:hover {
    color: var(--verde-claro) !important;
}
.header {
    background-color: var(--azul);
    padding: 50px;
}
.container_header {
    margin: 50px;
    color: var(--branco);
    min-height: 400px;
}
.container_main {
    margin: 30px;
    color: var(--preto) !important;
    min-height: 600px;
}
.row_tec p {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.row_tec svg {
    margin-bottom: 5px;
}
.row_tec .col:hover {
    background-color: var(--azul-esverdeado) !important;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.rede_social a:hover {
    background-color: var(--verde-claro);
    border: 10px var(--verde-claro);
}
.foto_perfil {
    height: auto;
    max-width: 100%;
}
.bg-tec {
    background-color: var(--preto);
    color: var(--branco);
}
.bg-projetos {
    background-color: var(--azul-esverdeado);
}
.title-projetos {
    color: var(--branco);
}
.custom-shape-divider-bottom-1693098892 {
    background-color: var(--azul-esverdeado);
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693098892 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1693098892 .shape-fill {
    fill: #212529;
}

.custom-shape-divider-top-1693099373 {
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1693099373 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-top-1693099373 .shape-fill {
    fill: var(--azul);
}